# Frontend dashboard only
*.py
*.bat
*.json
*.xlsx
*.pdf
scratch/
api/
test_repo/
data_spineditor/
.env
.env.*
Fanpage/
Văn thư lưu trữ/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
